<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}} - Winchester Fire Wardens</title>
</head>
<body>
    <a href="/">Winchester Fire Wardens</a>
    <br />
    <br />
    <span>Logged in as {{name}}.</span>
    <form action="/login" method="DELETE" style="display: inline;">
        <input type="submit" value="Log out" />
    </form>
    <hr />

    {{{body}}}

</body>
</html>
