<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}} - Winchester on Fire</title>
</head>
<body>
    <p>Logged Vin as {{name}}.</p>
    <hr />

    {{{body}}}

</body>
</html>
